<form method="post" action="{{ path('school_year_b_delete', {'id': school_year_b.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school_year_b.id) }}">
    <button class="btn">Delete</button>
</form>
